<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - MMU Navigator</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style_about.css') }}">
</head>
<body>
    <div class="header-section">
        <h1>MMU Navigator</h1>
        <h2>Your Smart Campus Map</h2>
    </div>

    <br>

    <div class="about">
        <h2>About:</h2>
        <ul>
            <li>The "MMU Navigator - Your Smart Campus Map" acts like a digital map to help new students easily find places around the Multimedia University (MMU) Cyberjaya campus.</li>
            <li>New students often feel lost because the campus is big and confusing. They waste time looking for classes, cafes, or the library because they do not have a clear, easy-to-use map that shows their exact location.</li>
            <li>The main users are new students at MMU Cyberjaya especially for WIN week. It also can apply for students that didn't know the location of their class when new semester begins.</li>
        </ul>
    </div>

    <br>

    <div class="button-container">
        <a class="button" href="{{ url_for('public_view') }}">Start Navigating</a>
        <br><br>
        <a class="button" href="#">Feedback?</a>
    </div>
</body>
</html>