<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_about.html') }}
    </head>
    <body>
        <div>
            <h1>MMU Navigator</h1>
            <h2>Your Smart Campus Map</h2>
        </div>

        <br>

        <div class="about">
            <h2>about:</h2>
            <ul>
                <li>The "MMU Navigator - Your Smart Campus Map" acts like a digital map to help new students easily find places around the Multimedia University (MMU) Cyberjaya campus.</li>
                <li>New students often feel lost because the campus is big and confusing. They waste time looking for classes, cafes, or the library because they do not have a clear, easy-to-use map that shows their exact location.</li>
                <li>The main users are new students at MMU Cyberjaya especially for WIN week. It also can apply for student that didn't know the location of their class when new semester begin. This system is perfect for them because it gives clear directions and shows where they are standing, making them feel confident walking around a new place.</li>
            </ul>
        </div>
        <br>
        <a class="button" href="{{ url_for('templates', filename='test.html') }}">Go back</a>
        <br>
        <a class="button" href="{{ url_for('templates', filename='test.html') }}">Feedback?</a>
</body>

</html>