<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Landing</title>

</head>
<body>
    <div class="card">
        <h1>MMU Navigator – Your Smart Campus Map</h1>
        <h2>MMU Navigator is a simple web-based interactive map that helps new students find classrooms, cafes, libraries, and other facilities around campus — fast and stress-free.</h2>
        <a href="#" class="btn">Get Started</a>
    </div>
</body>
</html>